<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>courses</title>
    <link rel="stylesheet" href="/style-course-select.css" />
  </head>
  <body>
    <a href="/" style="color:white">Back to home</a>
    <div class="container">
      <h2>COURSES</h2>
      <form action="/student/course-select" method="post">
        <div class="select-box">
          <div class="options-container course-options">
            <% docs.forEach((doc,i) => { %>
              <div class="option course-option">
                <input type="radio" class="radio" id="<%= "course" + (i+1) %>" name="category" value="<%= doc.courseCode %>"/>
                <label for="<%= "course" + (i+1) %>"><%= doc.courseCode.toUpperCase() + " - " + doc.courseName %> </label>
              </div>
            <% }) %> 
          </div>
          <div class="course-selected selected">
            Select course
          </div>
        </div>
        <input type="submit" value="submit">
      </form>
    </div>
    <script>
      const courseSelected = document.querySelector(".course-selected");
      const courseOptionsContainer = document.querySelector(".course-options");
      const courseOptionsList = document.querySelectorAll(".course-option");
      courseSelected.addEventListener("click", () => {
        courseOptionsContainer.classList.toggle("active");
      });
      
      courseOptionsList.forEach((o) => {
        o.addEventListener("click", () => {
          courseOptionsContainer.classList.remove("active");
        });
      });

      const courseOptions = document.getElementsByName("category");
      courseOptions.forEach((item) => {
        item.addEventListener("click", () => {
          if (item.checked) {
            document.querySelector(".course-selected").innerText = item.nextElementSibling.innerText;
            courseOptionsContainer.classList.remove("active");
          }
        });
      });
    </script>
  </body>
</html>
