<html>
    <head>
        <title>MITS LOVS</title>
        <link rel= "stylesheet" href="stylefaculty.css" />
    </head>
    <body>
        <div class ="menu-bar">
        <ul>
            <li>Batch</li>
            <li>Class</li>
            <li>Course</li>
        </ul>
        </div>
    </body>
</html>