<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylefacultyhome.css" />
    <script src="facultyhome.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Serif:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="main-section">
        <h1>Simple Custom Select Drop Down</h1>
        <div class="container">
      
          <div class="custom-select-wrapper">
            <div class="input-wrapper">
              <input type="text" placeholder="Select City" class="custom-select" readonly="readonly">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
              <ul>
                <li>
                  <span>New York</span>
                </li>
                <li>
                  <span>Chicago</span>
                </li>
                <li>
                  <span>Austin</span>
                </li>
                <li>
                  <span>Las vegas</span>
                </li>
                <li>
                  <span>Maimi</span>
                </li>
              </ul>
      
            </div>
      
          </div>
          <div class="custom-select-wrapper">
            <div class="input-wrapper">
              <input type="text" placeholder="Select State" class="custom-select" readonly="readonly">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
              <ul>
                <li>
                  <span>Florida</span>
                </li>
                <li>
                  <span>Nebraska</span>
                </li>
                <li>
                  <span>New York State</span>
                </li>
                <li>
                  <span>California</span>
                </li>
                <li>
                  <span>Nevada</span>
                </li>
              </ul>
            </div>
      
          </div>
      
          <div class="custom-select-wrapper">
            <div class="input-wrapper">
              <input type="text" placeholder="Select Country" class="custom-select" readonly="readonly">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
              <ul>
                <li>
                  <span>United States</span>
                </li>
                <li>
                  <span>Canada</span>
                </li>
                <li>
                  <span>United Kingdom</span>
                </li>
                <li>
                  <span>Mexico</span>
                </li>
                <li>
                  <span>Europe</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>    
</body>
</html>


