<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylefacultyhome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Serif:wght@500&display=swap" rel="stylesheet"/>
    <title>Faculty home</title>
  </head>
  <body>
    <a href="/" style="color:aliceblue;text-decoration:none;">Back to home</a>
    <div class="main-section">
      <h1>MITS Lab Output Verification System</h1>
      <div class="container">
        <div class="custom-select-wrapper">
          <div class="input-wrapper">
            <input
              type="text"
              placeholder="Select Batch"
              class="custom-select"
              readonly="readonly"
            />
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <ul>
              <% batches.forEach(batchFrom => { %>
              <li>
                <span class="batchspan"
                  ><%= batchFrom + " - " + parseInt(parseInt(batchFrom)+4) %>
                </span>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
        <div class="custom-select-wrapper">
          <div class="input-wrapper">
            <input
              type="text"
              placeholder="Select Class"
              class="custom-select"
              readonly="readonly"
            />
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <ul id="classlist"></ul>
          </div>
        </div>

        <div class="custom-select-wrapper">
          <div class="input-wrapper">
            <input
              type="text"
              placeholder="Select Course"
              class="custom-select"
              readonly="readonly"
            />
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <ul id="courselist"></ul>
          </div>
        </div>
      </div>
    </div>

    <div class="expdiv">
      <ul class="explist" id="experiment-list">
        <label style="padding: 50px;" id="course-label">
          <span class="course-name-span" id="coursenamespan"></span>
          <span class="course-gear-icon"><a id="course-gear-icon-a"  style="color: inherit"><i class="fa fa-download" aria-hidden="true"></i></a //TODO - Change gear icon to download icon></span> 
        </label>
        
        <li class="exp-list-item">Please select a course.</li>
        <!--
          <li>
            <span class="number">1</span>
            <span class="name">Insertion Sort</span>
            <span   class="gearicon"><a href="" style="color:inherit;"><i  style="font-size:24px" class="fa">&#xf013;</i></a></span>
          </li>
          <li>
            <span class="number">2</span>
            <span class="name">Selection Sort</span>
            <span class="gearicon"><i style="font-size:24px" class="fa">&#xf013;</i></span>
          </li>
          <li>
            <span class="number">3</span>
            <span class="name">Bubble Sort</span>
            <span class="gearicon"><i style="font-size:24px" class="fa">&#xf013;</i></span>
          </li>
          <li>
            <span class="number">4</span>
            <span class="name">Linked List</span>
            <span class="gearicon"><i style="font-size:24px" class="fa">&#xf013;</i></span>
          </li>
          <li>
            <span class="number">5</span>
            <span class="name">Hashing</span>
            <span class="gearicon"><i style="font-size:24px" class="fa">&#xf013;</i></span>
          </li>

           -->
      </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/facultyhome.js"></script>
  </body>
</html>
